# Motor de base de datos a utilizar ('postgres' o 'mysql')
DB_TYPE=postgres

# MySQL
# DB_HOST=localhost
DB_USER_MS=root
DB_PASSWORD_MS=password
DB_NAME_MS=uvarchiver_db
DB_PORT_MS=3306

#PostgreSQL
DB_HOST_PG=localhost
DB_USER_PG=postgres
DB_PASSWORD_PG=password
DB_NAME_PG=uvarchiver_db
DB_PORT_PG=5432

#SESIONES
SESSION_SECRET_MS=my-session-ultra-secret